/* Loader */


@font-face {
    font-family: 'gilroy-100';
    src: url(gilroy/Gilroy-Thin.ttf);
}

@font-face {
    font-family: 'gilroy-200';
    src: url(gilroy/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: 'gilroy-300';
    src: url(gilroy/Gilroy-Light.ttf);
}

@font-face {
    font-family: 'gilroy-400';
    src: url(gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'gilroy-500';
    src: url(gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: 'gilroy-600';
    src: url(gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: 'gilroy-700';
    src: url(gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'gilroy-800';
    src: url(gilroy/Gilroy-ExtraBold.ttf);
}


@font-face {
    font-family: 'gilroy-900';
    src: url(gilroy/Gilroy-Black.ttf);
}


@font-face {
    font-family: 'gilroy-1000';
    src: url(gilroy/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: 'avenir-200';
    src: url(avenir/AvenirNext-UltraLight-11.ttf);
}

@font-face {
    font-family: 'avenir-400';
    src: url(avenir/AvenirNext-Regular-08.ttf);
}

@font-face {
    font-family: 'avenir-500';
    src: url(avenir/AvenirNext-Medium-06.ttf);
}

@font-face {
    font-family: 'avenir-600';
    src: url(avenir/AvenirNext-DemiBold-03.ttf);
}

@font-face {
    font-family: 'avenir-700';
    src: url(avenir/AvenirNext-Bold-01.ttf);
}

@font-face {
    font-family: 'avenir-900';
    src: url(avenir/AvenirNext-Heavy-09.ttf);
}

@font-face {
    font-family: 'drukwide';
    src: url(drukwide.ttf);
}

body{
    background-color: white;
    overflow: overlay;
    font-family: 'avenir-400';
    overflow-x: hidden;
}

*{
    overflow-anchor: none;
}

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgb(255, 255, 255);
    transition: 1s 0.4s;
  }

  #progstat{
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    font-size: 3em;
    font-family: 'drukwide';
    text-align:center;
    color:transparent;
    fill: none;
    -webkit-text-stroke: 1.6px black;
  }

.nav{
    position: fixed;
    left: 0;
    padding-top: 1.5em;
    padding-bottom: 3em;
    right: 0;
    top: 0;
    background-color: white;
    height: 2em;
    padding-left: 2em;
    z-index: 100;
    padding-right: 2em;
}
  
.nav-name{
    display: inline-block;
    vertical-align: middle;
    font-family: 'avenir-700';
    font-size: .91em;
    letter-spacing: 0.135em;
}

.nav-left{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}

.nav-logo{
    display: inline-block;
    max-height: 4em;
    margin-right: .5em;
    vertical-align: middle;
}

.search{
    display: inline-block;
    margin-left: 4em;
    vertical-align: middle;
}

.search-vector{
    cursor: pointer;
}

.nav-floated-div{
    float: right;
    vertical-align: middle;
}

.nav-links{
    display: inline-block;
    vertical-align: middle;
}

.nav-link{
    display: inline-block;
    margin-right: 4em;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'avenir-600';
    font-size: .9em;
    font-weight: 500;
    color: rgb(96, 96, 96);
}

.active{
    color: black !important;
}


.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2d2d2d;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

img{
    user-select: none;
}

.nav-notifications{
    background-color: black;
    width: 3em;
    height: 3em;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
    filter: drop-shadow(0px 34px 14px rgba(0, 0, 0, 0.01)) drop-shadow(0px 19px 12px rgba(0, 0, 0, 0.05)) drop-shadow(0px 9px 9px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    display: inline-block;
}

.nav-actions{
    display: inline-block;
    margin-right: 2em;
    margin-left: 1em;
}

.nav-notifications-vector{
    max-height: 2em;
    border-radius: 50%;
    margin-block-end: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-user-logo{
    display: inline-block;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    margin-left: 2.5em;
    filter: drop-shadow(0px 38px 15px rgba(0, 0, 0, 0.01)) drop-shadow(0px 22px 13px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    vertical-align: middle;
}

.menu-icon{
    display: inline-block;
    vertical-align: middle;
    max-height: 2em;
    margin-left: 2.5em;
}

.hero{
    width: 100%;
    position: relative;
    height: 100%;
}

.hero-bg{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    top: 6em;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.71);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

.hero-something{
    position: relative;
    position: absolute;
    max-width: 65%;
    left: 50%;
    top: 15EM;
    transform: translatex(-50%);
    filter: grayscale(100%);
    animation: .5s grey forwards, hover 3s infinite ease-in-out;
}

@keyframes hover {
    0%{
        margin-top: 0;
    }    
    50%{
        margin-top: -2em;
    }
    100%{
        margin-top: 0;
    }
}

.hero-something:hover{
    animation: 1s nogrey forwards, hover 3s infinite ease-in-out;
}

@keyframes nogrey {
    100%{
        scale: 1.1;
        margin-left: 5%;
        filter: grayscale(0%);
    }
}

@keyframes grey {
    0%{
        scale: 1.1;
        margin-left: 5%;
        filter: grayscale(0%);
    }
    100%{
        scale: 1;
        margin-left: 0;
        filter: grayscale(100%);
    }
}

.main{
    margin-top: 70%;
}

.ca-img{
    margin-left: 3em;
    max-width: 40em;
    display: inline-block;
    vertical-align: bottom;
}

.ca-title{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.5em;
    font-family: 'avenir-700';
    font-size: 2.4em;
    line-height: 1em;
}

.ca-desc{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.ca-view{
    display: inline-block;
    vertical-align: middle;
    width: 7em;
    font-size: 1.1em;
    box-shadow: -129px 129px 73px rgba(0, 0, 0, 0.01), -73px 73px 62px rgba(0, 0, 0, 0.05), -32px 32px 46px rgba(0, 0, 0, 0.09), -8px 8px 25px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    margin-left: 2em;
    border-radius: .6em;
    height: 2.5em;
    background-color: #1b1b1b;
    border: none;
    font-family: 'avenir-700';
    color: white;
    outline: none;
}

.ca-par{
    margin-left: 5em;
    font-family: 'avenir-500';
    width: 80%;
    font-size: 1.1em;
}

.toggle-thing{
    width: 15em;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 3em;
    display: none;
    padding-right: 3em;
    z-index: 6940;
    bottom: 0;
    box-shadow: -336px 0px 135px rgba(0, 0, 0, 0.01), -189px 0px 114px rgba(0, 0, 0, 0.03), -84px 0px 84px rgba(0, 0, 0, 0.05), -21px 0px 46px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.06);    background-color: rgb(255, 255, 255);
}

.toggle-close{
    position: absolute;
    right: 3em;
    top: 2em;
}

.toggle-thing-title{
    margin-top: 2.5em;
    font-size: 1.5em;
    font-family: 'avenir-700';
}

.toggle-thing-logo{
    max-width: 7em;
    margin-top: 1em;
}

.toggle-thing-welcome{
    font-size: 1.2em;
    font-family: 'avenir-400';
    margin-top: -.5em;
}

.toggle-thing-logreg{
    position: absolute;
    right: 1.3em;
    bottom: 2em;
}

.toggle-thing-btn{
    border: none;
    outline: none;
    color: white;
    border-radius: .3em;
    width: 10em;
    height: 2.7em;
    margin-top:1em;
    box-shadow: 0px 69px 28px rgba(0, 0, 0, 0.01), 0px 39px 23px rgba(0, 0, 0, 0.05), 0px 17px 17px rgba(0, 0, 0, 0.09), 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    font-family: 'avenir-600';
    background-color: #161616;
}

.auth-img{
    position: absolute;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}

.login-logo{
    filter: invert(100%);
    margin-top: 2em;
    max-width: 6em;
}

.auth-main{
    position: relative;
    position: absolute;
    right: 0;
    width: 56.3%;
    top: 0;
    bottom: 0;
}

.auth-go-back{
    position: absolute;
    left: 2em;
    top: 1.5em;
}

.auth-tag{
    font-size: 1.32em;
    margin-top: 0em;
    color: white;
    font-family: 'gilroy-500';
}

.auth-tag-main{
    font-size: 1.32em;
    margin-top: 0em;
    color: white;
    font-family: 'gilroy-500';
}

.auth-selector-links{
    cursor: pointer;
    line-height: 0.9em;
    font-family: 'gilroy-800';
    font-size: 3.5em;
    text-align: right;
    transition: letter-spacing 1s;
}

.auth-selector-links:hover{
    letter-spacing: 0.12em;
    color:rgb(188, 188, 188);
}

.auth-input{
    background: none;
    border: none;
    border-bottom: #525252 3px solid;
    outline: none;
    height: 2.5em;
    margin-top: .5em;
    width: 23em;
    font-size: 1em;
    color: white;
    font-family: 'gilroy-600';
}

.auth-input::placeholder{
    color: #c4c4c4;
}

.auth-submit{
    width: 15em;
    border-radius: 5em;
    height: 3em;
    background-color: white;
    font-size: 1.2em;
    font-family: 'gilroy-600';
}

.oauth-method{
    width: 16em;
    height: 3.25em;
    border-radius: 5em;
    cursor: pointer;
    background-color: #262626;
    margin-top: 1em;
}

.oauth-methods-vector{
    display: inline-block;
    vertical-align: middle;
}

.oauth-method-txt{
    vertical-align: middle;
    display: inline-block;
    margin-left: .5em;
    font-family: 'gilroy-500';
}

.login{
    display: none;
}

.register{
    display: none;
}

.discordauth{
    display: none;
    z-index: 1000000000000000000;
}
.auth-input .focused{
    border-bottom: white 2px solid;
}

.cursor {
  pointer-events: none;
  display: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode:difference;
  z-index: 10095434953049823900;
}
.cursor__ball circle {
  fill: #f7f8fa;
}

.auth-selector{
    width: 100%;
    position: absolute;
    z-index: 20000;
    left: 0;
    background-color: black;
    height: 100%;
    bottom: 0;
    overflow: hidden;
    right: 0;
    top: 0;
}

.auth-selector-vid{
    position: absolute;
    left: 0;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
}

.selector-main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 694301;
}

.auth-title{
    position: absolute;
    font-weight: 600;
    top: 50%;
    display: none;
    font-size: 2.3em;
    text-align: center;
    margin-block-start: 0;
    left: 50%;
    font-family: 'gilroy-800';
    transform: translate(-50%, -50%);
}

.auth-desc{
    font-size: 1.5em;
    margin-top: 11.5em;
    display: none;
}

.auth-btn-1{
    width: 6em;
    height: 2.5em;
    font-size: 1.2em;
    background-color: white;
    font-family: 'gilroy-700';
    border: none;
    outline: none;
    color: black;
    border-radius: 2em;
}

.auth-btn-2{
    width: 6em;
    height: 2.5em;
    font-size: 1.2em;
    background-color: transparent;
    font-family: 'gilroy-700';
    border: none;
    outline: none;
    margin-left: 2em;
    color: white;
    border-radius: 2em;
}

.auth-whatdo{
    margin-top: 5em;
}

.blurred{
    animation: blur 4s 1 forwards;
}

@keyframes blur {
    100%{
        filter: blur(4px);
    }
}

a{
    color: inherit;
    text-decoration: inherit;
}

.inverted{
    filter: invert(100%);
}

.user-banner-img{
    top: 0;
    left: 0;
    margin-left: -1.5em;
    right: 0;
    height: 15em;
    filter: opacity(60%);
    margin-top: -4em;
}

.nav-link2{
    display: inline-block;
    margin-right: 4em;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'avenir-700';
    font-size: .8em;
    vertical-align: middle;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: black;
}

.nav-link-user-feed{
    height: 2.5em;
    background-color: transparent;
    vertical-align: middle;
    width: 9em;
    color: black;
    text-transform: uppercase;
}

.nav-create-vector{
    display: inline-block;
    vertical-align: top;
    margin-left: .5em;
}

.user-banner{
    display: block;
}

.user-main{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    top: 11.5em;
    background-color: black;
}


.user-main-profile{
    width: 50%;
    top: 0;
    bottom: 0;
    background: white;
    color: black;
    position: absolute;
    left: 0;
    background-color: white;
}

.user-links-bio{
    overflow-y: scroll;
    max-height: 6em;
}

.user-links-bio::-webkit-scrollbar-thumb{
    background-color: #000000a4;
}

.user-main-thing{
    width: 50%;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background: black;
    position: absolute;
    right: 0;
    background-color: black;
}

.user-pfp{
    margin-top: -3.5em;
    width: 7em;
    border-radius: 50%;
    filter: drop-shadow(0px 110px 44px rgba(0, 0, 0, 0.02)) drop-shadow(0px 62px 37px rgba(0, 0, 0, 0.08)) drop-shadow(0px 28px 28px rgba(0, 0, 0, 0.13)) drop-shadow(0px 7px 15px rgba(0, 0, 0, 0.15)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.15));
    height: 7em;
}

.user-change-img{
    width: 2em;
    height: 2em;
    transform: translate(2.5em, -2em);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 2px 0.3rem #00000080);
}

.pfpsubmit-div{
    position: absolute;
    background-color: #262626;
    width: 70%;
    bottom: 1em;
    display: none;
    border-radius: 1em;
    left: 50%;
    z-index: 69420;
    padding-top: .5em;
    padding-left: 1em;
    padding-bottom: .5em;
    transform: translateX(-50%);
    box-shadow: 0px 135px 54px rgba(0, 0, 0, 0.03), 0px 76px 45px rgba(0, 0, 0, 0.1), 0px 34px 34px rgba(0, 0, 0, 0.17), 0px 8px 19px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
}


.pfpsubmit-div2{
    position: absolute;
    background-color: #262626;
    width: 70%;
    bottom: 1em;
    display: none;
    z-index: 69420;
    z-index: 3;
    border-radius: 1em;
    left: 50%;
    color: white;
    padding-top: .5em;
    padding-left: 1em;
    padding-bottom: .5em;
    transform: translateX(-50%);
    box-shadow: 0px 135px 54px rgba(0, 0, 0, 0.03), 0px 76px 45px rgba(0, 0, 0, 0.1), 0px 34px 34px rgba(0, 0, 0, 0.17), 0px 8px 19px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.pfpsubmit-warning{
    display: inline-block;
    color: white;
    vertical-align: middle;
    font-size: 1.15em;
    font-family: 'gilroy-700';
    margin-left: -1em;
}

.pfpsubmit{
    font-size: 1.2em;
    font-family: 'gilroy-700';
    background-color: white;
    color: black;
    width: 7em;
    height: 2.5em;
    float: right;
    margin-top: .25em;
    border-radius: 1em;
    margin-right: 2em;
}

.user-profile-binfo{
    display: inline-block;
    vertical-align: middle;
}

.follow-btn{
    display: inline;
    color: white;
    font-family: 'avenir-600';
    letter-spacing: 0.1em;
    height: 3.5em;
    text-transform: uppercase;
    background-color: black;
    vertical-align: middle;
    margin-top: 2.25em;
    float: right;
    box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 0px 46px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: .8em;
    width: 10em;
}


.follow-btn-followed{
    display: inline;
    color: black;
    font-family: 'avenir-600';
    letter-spacing: 0.1em;
    height: 3.5em;
    text-transform: uppercase;
    background-color: white;
    vertical-align: middle;
    margin-top: 2.25em;
    float: right;
    box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 0px 46px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: .8em;
    width: 12em;
}

.user-name{
    font-family: 'avenir-700';
    margin-block-end: .1em;
}

.username{
    color: #5F5F5F;
    font-family: 'avenir-600';
    font-size: .9em;
    font-weight: 600;
    margin-block-start: 0;
}

.user-profile{
    margin-left: 5em;
    margin-right: 5em;
}

.user-profile-stat{
    display: inline-block;
    margin-left: 6em;
}

.user-profile-stat-var{
    font-family: 'gilroy-700';
    color: #787472;
    margin-block-start: 0;
}

.user-profile-stat-val{
    font-family: 'avenir-700';
    color: #000000;
    font-size: 1.5em;
    margin-block-end: 0;
}

.user-bio-title{
    font-family: 'avenir-700';
    letter-spacing: 0.1em;
    font-size: 1.3em;
    margin-top: 1.3em;
    margin-block-end: .5em;
}

.user-bio-value{
    resize: none;
    width: 42em;
    margin-block-start: 0;
    height: 6em;
    margin-left: 1.5em;
    border: none;
    font-family: 'gilroy-700';
    background: none;
    outline: none;
    padding: 0em 1.5em 1.5em 0em;
    margin-block-end: 0;
}

.user-link{
    color: #616161;
    font-family: 'gilroy-700';
    font-size: .9em;
    margin-left: 7em;
}

.hamburger{
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    display: none;
    bottom: 0;
    z-index: 69420;
    left: 0;
    width: 100%;
    height: 100%;
}

.menu-img{
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    pointer-events: none;
    user-select: none;
}

.menu-main{
    position: relative;
    position: absolute;
    right: 0;
    width: 56.3%;
    top: 0;
    bottom: 0;
}

.menu-go-back{
    position: absolute;
    left: 2em;
    top: 1.5em;
}

.menu-links{
    margin-top: 8.4em;
}

.menu-link{
    border-bottom: #525252 3px solid;
    margin-top: 3em;
    width: 76%;
    transition: border-bottom-color 1s;
    position: relative;
}

.menu-link-name{
    font-size: 2em;
    font-family: 'gilroy-700';
    text-align: left;
    margin-block-end: 0.5em;
    margin-block-start: 0;
}

.menu-link:hover{
    border-bottom-color: white;
}

.hamburger{
    color: white;
}

.menu-link-vector{
    text-align: right;
    position: absolute;
    right: 0;
    display: inline-block;
    margin-top: -3.5em;
    justify-content: right;
}

.menu-logout{
    cursor: pointer;
    position: absolute;
    bottom: 1.5em;
    right: 2em;
}

.menu-socials{
    bottom: 1em;
    z-index: 3922394;
    left: 3em;
    position: fixed;
}

.menu-socials-btn{
    width: 9em;
    padding-top: .25em;
    padding-left: 1em;
    margin-bottom: 1em;
    padding-right: 1em;
    border: none;
    outline: none;
    background-color: white;
    height: 3.25em;
    margin-left: 2em;
    border-radius: 1em;
}

.menu-socials-title{
    font-family: 'gilroy-700';
}

.discover-hero-title{
    font-family: 'gilroy-700';
    width: 7em;
    font-size: 3.5em;
    margin-left: 1.4em;
    margin-top: 4.5em;
    margin-block-end: 0;
}

.discover-hero-desc{
    margin-left: 4.5em;
    color: white;
    font-family: 'avenir-400';
    color: rgb(228, 228, 228);
    font-weight: 100;
    font-size: 1.2em;
}

.discover-hero-btns{
    margin-left: 2em;
}

.discover-hero-btn{
    font-size: 1.3em;
    width: 10em;
    margin-left: 2em;
    border-radius: .7em;
    margin-top: 1em;
    height: 2.5em;
    font-family: 'gilroy-800';
}

.dhb-style-2{
    background-color: transparent;
    border: 2px white solid;
    color: white;
}

.discover-hero-img{
    position: absolute;
    right: 0;
    max-width: 50em;
    margin-top: -30em;
}

canvas{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.discover-collections{
    margin-top:14em;
}

.discover-collections-title{
    font-family: 'gilroy-700';
    font-size: 3em;
}

.discover-collections-collection{
    width: 12em;
    display: inline;
    vertical-align: middle;
    margin-left: 2em;
    height: 2em;
    padding: .75em 1em .75em 1em;
    border: 2px white solid;
    border-radius: 1.6em;
}

.discover-collections-collection-img{
    width: 2em;
    height: 2em;
    margin-left: .5em;
    display: inline;
    vertical-align: middle;
    text-align: left;
    float: left;
    border-radius: 50%;
}

.discover-collections-collection-title{
    color: white;
    display: inline;
    vertical-align: middle;
    float: left;
    text-align: left;
    margin-block-start: 0.5em;
    font-family: 'gilroy-600';
    margin-left: .5em;
}

.discover-collections-moving{
    display: inline-flex;
    animation: marquee infinite 35s;
}

.discover-collections-moving2{
    display: inline-flex;
    animation: marquee2 infinite 35s ;
}

.discover-collections-moving:hover{
    display: inline-flex;
    animation-play-state: paused;
}


.discover-collections-moving2:hover{
    display: inline-flex;
    animation-play-state: paused;
}

@keyframes marquee {
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}

@keyframes marquee2 {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(100%);}
}

.discover-collections-btn{
    background-color: white;
    color: black;
    margin-top: 2em;
    font-size: 1.2em;
    border-radius: 1em;
    width: 10em;
    height: 3em;
    font-family: 'gilroy-800';
}

.discover-featured-title{
    margin-left: 1em;
    margin-top: 1em;
    font-family: 'gilroy-700';
    display: inline;
}

.discover-featured-div{
    width: 20em;
    border: 3px white solid;
    height: 30em;
    border-radius: 1em;
    position: relative;
    margin-left: 4em;
    vertical-align: middle;
    display: inline-block;
    margin-top: 2em;
}

.discover-featured-img{
    height: 17.65em;pointer-events: none;
    user-select: none;
    width: 100%;
}

.discover-featured-project-name{
    font-family: 'gilroy-500';
    margin-left: 1em;
    font-weight: 100;
}

.discover-featured-project-author{
    margin-left: 1em;
}

.discover-featured-project-author-img{
    max-width: 2em;
    vertical-align: middle;
    
    display: inline-block;
}

.discover-featured-project-author-name{
    display: inline-block;
    margin-left: .4em;
    vertical-align: middle;
}

.discover-featured-project-appreciations{
    position: absolute;
    right: 1em;
    bottom: 0;
}

.discover-featured-project-appreciations-val{
    display: inline-block;
    vertical-align: middle;
}

.discover-featured-project-appreciations-vector{
    display: inline-block;
    vertical-align: middle;
}

.discover-featured-project-price{
    margin-top: 1em;
    margin-left: 1em;
}

.discover-featured-project-price-currency-img{
    max-width: 2em;
    display: inline-block;
    vertical-align: middle;
}

.discover-featured-project-price-cost{
    display: inline-block;
    font-family: 'gilroy-500';
    vertical-align: middle;
}

.discover-featured-project-price-change{
    margin-block-start: 0;
    color: rgb(193, 193, 193);
    font-family: 'gilroy-500';
}

.discover-featured-project-price-amount{
    margin-block-end: 0;
}

.discover-featured-main{
    display: inline-flex;
    overflow-x:auto;
    overflow-y: hidden;
}

*{
    overflow-anchor: none;
}

.discover-topsellers-timeslots{
    display: inline;
    float: right;
    vertical-align: middle;
    margin-top: .75em;
    padding: .25em 1em .25em 1em;
    border: 1px solid white;
    border-radius: 1em;
    margin-right: 2em;
}

.discover-topsellers-timeslot{
    display: inline-block;
    color: white;
    vertical-align: middle;
    text-align: center;
    border-radius: .6em;
    font-family: 'gilroy-700';
    width: 8em;
}

.selected{
    display: inline-block;
    color: black;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    border-radius: .6em;
    font-family: 'gilroy-700';
    width: 8em;
}

.discover-featured-title{
    display: inline-block;
    vertical-align: middle;
}

.discover-topseller{
    padding: .5em 1.5em .5em 1.5em;
    border: 2px solid white;
    border-radius: 1em;
    margin-bottom: 2em;
    float: left;
    align-items:flex-start;
    text-align: left;
    position: relative;
    width: 35em;
    margin-left: 6em;
    height: 4em;
}

.discover-topseller-position{
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    margin-block-start: 0.5em;
    font-family: 'gilroy-500';
}

.discover-topseller-info{
    display: inline-block;
    vertical-align: middle;
    margin-block-start: 0;
}

.discover-topseller-author-minfo{
    display: inline-block;
    vertical-align: middle;
    margin-block-start: 0;
}
.discover-topseller-author-img{
    display: inline-block;
    margin-block-start: 0;
    margin-left: 1.5em;
    margin-top: 0;
    margin-top: -.5em;
    margin-right: 1em;
    vertical-align: middle;
}

.discover-featured-project-price-cost{
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.discover-topseller-author-username{
    color: rgb(220, 220, 220);
}

.prints{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-top: 2em;
}

.prints-title{
    background: #1B1B1B;
    color: white;
    width: 10em;
    padding-top: .25em;
    padding-bottom: .25em;
    font-family: 'gilroy-700';
    border-radius: .7em;
    box-shadow: -129px 129px 73px rgba(0, 0, 0, 0.01), -73px 73px 62px rgba(0, 0, 0, 0.05), -32px 32px 46px rgba(0, 0, 0, 0.09), -8px 8px 25px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 1.6em;
    margin-bottom: 1.5em;
}

.prints-desc{
    width: 60%;
    line-height: 1.3em;
    font-weight: 500;
    font-family: 'gilroy-500';
}

.offerings{
    margin-top: 1em;
}

.offering-head{
    font-family: 'gilroy-700';
}

.offering{
    margin-top: 2em;
    height: 8em;
}

.offering-img{
    margin-bottom: 2em;
    pointer-events: none;
    user-select: none;
    max-width: 55em;
}

.artwork-subs{
    margin-top: 40em;
}

.as-img{
    margin-left: 4em;
    border-radius: 1em;
    filter: drop-shadow(0px 399px 160px rgba(0, 0, 0, 0.01)) drop-shadow(0px 224px 135px rgba(0, 0, 0, 0.05)) drop-shadow(0px 100px 100px rgba(0, 0, 0, 0.09)) drop-shadow(0px 25px 55px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    vertical-align: bottom;
    display: inline-block;
    max-width: 40em;
}

.as-aw{
    display: inline-block;
    width: 50%;
    margin-left: 2em;
    vertical-align: top;
}

.as-aw-head{
    color: black;
    font-family: 'gilroy-800';
    font-size: 2em;
    width: 4em;display: inline-block;
    vertical-align: middle;
}

.as-btn{
    font-family: 'gilroy-700';
    background-color: #1b1b1b;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
    color: white;
    width: 7em;
    height: 2.5em;
    font-size: 1.2em;
    border-radius: .75em;
    box-shadow: -129px 129px 73px rgba(0, 0, 0, 0.01), -73px 73px 62px rgba(0, 0, 0, 0.05), -32px 32px 46px rgba(0, 0, 0, 0.09), -8px 8px 25px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.as-aw-desc{
    width: 70%;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 5em;
    vertical-align: bottom;
    font-family: 'gilroy-500';
    line-height: 1.3em;
}

.footer-lgoo{
    max-width: 5em;
    animation: foot 2s infinite;
}

@keyframes foot {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.user-bio-edit{
    display: inline-block;
    vertical-align: top;
}

.umt-nav{
    border-bottom:  2px solid #D7ECA4;
    padding-left: 1em;
    padding-top: .5em;
    padding-right: 1em;
    position: fixed;
    padding-bottom: .5em;
    background-color: black;
    left: 50%;
    right: 0;
}

.umt-nav-link{
    margin-left:6em;
    display: inline-block;
    vertical-align: middle;
}

.umt-nav-link-title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'avenir-700';
    color: white;
    letter-spacing: 0.1em;
}

.umt-nav-link-val{
    min-width: 1.5em;
    height: 2em;
    padding-left: .5em;
    padding-right: .5em;
    color: black;
    border-radius: .7em;
    margin-left: .6em;
    display: inline-block;
    vertical-align: middle;
}

.umt-nav-link-val-txt{
    color: black;
    display: inline-block;
    margin-block-start: 0.4em;
    font-family: 'gilroy-700';
    vertical-align: middle;
}

.unlv-1{
    background-color: #D7ECA4;
}

.unlv-2{
    background-color: #CCADFF;
}

.unlv-3{
    background-color: #F7B3DE;
}

.collections{
    display: none;
    margin-top: 5em;
}

.owned{
    margin-top: 5em;
    display: none;
}

.createdd{
    margin-top: 5em;
}

.collection{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

.collection-img{
    max-width: 17em;
}

.collection-info{
    text-align: left;
    margin-left: .5em;
}

.collection-title{
    font-family: 'gilroy-700';
    margin-block-end: 0;
    margin-block-start: .4em;
}

.collection-buynow{
    margin-block-start: 1.2em;
    font-size: .7em;
    font-family: 'gilroy-700';
    margin-block-end: 0;
}

.collection-cost{
    margin-block-start: 0;
    color: #FF7A00;
    font-size: 1.3em;
    font-family: 'gilroy-700';
}

.wee{
    width: 6em;
    height: 2.3em;
    background-color: #1b1b1b;
    display: none;
    font-size: 1.2em;
    color: white;
    border-radius: .7em;
    box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 0px 46px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    font-family: 'gilroy-700';
}

.user-bio-value::-webkit-scrollbar-thumb{
    background-color: #000000b4;
}

.profile-links-txt{
    display: inline-block;
    width: 14em;
    vertical-align: middle;
    font-family: 'gilroy-600';
}

.profile-link-input{
    display: inline-block;
    vertical-align: middle;
    outline: none;
    border: 2px black solid;
    width: 15em;
    padding-left: 1em;
    color: rgb(69, 69, 69);
    padding-right: 1em;
    font-family: 'gilroy-700';
    height: 2.5em;
}

.profile-links-img{
    display: inline-block;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px grey solid;
    vertical-align: middle;
}

.profile-links-btn{
    width: 8em;
    background-color: black;
    font-family: 'gilroy-700';
    height: 2.5em;
    color: white;
    margin-top: .5em;
    display: block;
    text-transform: uppercase;
    border-radius: .6em;
    margin-left: 75%;
    letter-spacing: 0.1em;
    margin-right: 3em;
}

.blog-main{
    margin-top: 7.5em;
}

.blog-head-img{
    position: absolute;
    max-height: 10em;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.blog-head-title{
    padding-top:2em;
    font-family: 'gilroy-700';
}

.blog-search{
    width: 50em;
    height: 3em;
    padding-left: 2em;
    border-radius: .6em;
    padding-top: 1em;
    background-color: #0a0a0a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 2em;
}

#blog-search-vector{
    float:left;
}


.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.blog-search-input{
    background-color: transparent;
    background: none;
    border: none;
    vertical-align: middle;
    font-size: 1.3em;
    outline: none;
    font-family: 'gilroy-600';
    float: left;
    margin-top: .25em;
    margin-left: .5em;
    color: white;
    width: 89%;
}

.blog-tag{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    border-radius: 1em;
    width: 6em;
    text-align: center;
    font-family: 'gilroy-500';
}


.blog-tag:hover{
    background-color: rgba(255, 255, 255, 0.293);
}

.blog-tag-txt{
    vertical-align: middle;
}

.blog-tag-active{
    background-color: white;
    color: black;
    font-family: 'gilroy-700';
}

.blog-home-blogs{
    margin-top: 4em;
}

.blog-home-bigblog{
    background-color: rgba(73, 57, 66, 0.5);
    width: 27em;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 2em 2em 2em 2em;
    height: 32em;
    margin-right: 1em;
    border-radius: .7em;
}

.blog-home-smallblogs{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 35em;
    margin-top: 1em;
}

.blog-home-smallblog{
    width: 27em;
    padding: .5em 1.5em .5em 1.5em;
    background-color: rgba(73, 57, 66, 0.5);
    height: 9.5em;
    border-radius: .5em;
    margin-bottom: 1.5em;
}

.blog-home-bigblog-img{
    width: 100%;
    max-height: 18em;
    border-radius: 1em;
}

.blog-home-bigblog-info{
    position: absolute;
    bottom: 1em;
    text-align:left;
    left: 2em;
    right: 2em;
    height: 38%;
}

.bigblog-info-date-txt{
    font-family: 'gilroy-600';
}

.bigblog-info-date{
    display: inline-block;
    vertical-align: middle;
}

.bigblog-author-pfp{
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.bigblog-info-author{
    display: inline;
    vertical-align: middle;
    float: right;
}

.bigblog-author-name{
    font-family: 'gilroy-600';
    margin-left: .5em;
    display: inline-block;
    vertical-align: middle;
}

.bigblog-title{
    font-size: 1.2em;
    font-family: 'gilroy-700';
}

.bigblog-content{
    color: #d8d8d8;
    font-size: .8em;
    overflow:hidden;
    outline: none;
    display: block;
    white-space:normal;
    background-color: none;
    border: none;
    height: 6em;
    resize: none;
    width: 100%;
    font-family: inherit;
    background: none;
    text-overflow: ellipsis;
}

.blog-home-smallblog{
    text-align: left;
}

.home-smallblog-date{
    font-family: 'gilroy-500';
    letter-spacing: 0.06em;
}

.home-smallblog-content{
    margin-left: 1em;
    font-family: 'gilroy-500';
    font-size: 1em;
    display: -webkit-box;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.blog-home-smallblog-info{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}

.blog-home-smallblog-thumb{
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    height: 6em;
    margin-top: 1em;
    border-radius: .7em;
}

.blogs-createnew-title{
    font-family: 'avenir-600';
    text-align: left;
    margin-top: 1em;
    margin-left: 7em;
}

.blogs-createnew-input{
    width: 22em;
    margin-bottom: 1em;
    height: 2em;
    border-radius: 10px;
    border: none;
    padding: 1em 1.25em 1em 1.25em;
    color: white;
    font-size: 1.2em;
    font-family: 'gilroy-600';
    outline: none;
    background-color: #49394280;
}

.create-wees{
    width: 15em;
    height: 7em;
    position: relative;
    border-radius: .5em;
    overflow: hidden;
    margin-left: 2em;
    margin-top: 1em;
    background-color: rgb(58, 58, 58);
}

.bcn-1{
    margin-right:1.5em;
    display: inline-block;
    vertical-align: top;
    width: 30em;
}

.bcn-2{
    display: inline-block;
    vertical-align: top;
    width: 30em;
}

.bci-2{
    height: 22em;
    resize: none;
}

.bcn-3{
    height: 14em;
    position: relative;
}

.bci-img{
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
}

.blogs-createnew-thot{
    resize: none;
    width: 80%;
    background: none;
    margin-left: 1em;
    vertical-align: bottom;
    outline: none;
    font-family: 'gilroy-600';
    font-size: 1em;
    border: none;
    color: white;
    display: inline-block;
    height: 100%;
}

.blogs-createnew-thumb{
    width: 100%;
    overflow: hidden;
    height: 10em;
    border-radius: .4em;
    background-color: #1a1a1a;
}

.blogs-createnew-thumb-overlay{
    position: absolute;
    left: 1.25em;
    right: 1.25em;
    height: 10em;
    border-radius: .4em;
    display: none;
    background-color: #000000be;
}

::selection{
    background-color: white;
    color: black;
}

.createnew-upload{
    width: 100%;
}
.createnew-upload2{
    width: 100%;
}
.createnew-upload3{
    width: 100%;
}
.createnew-upload4{
    width: 100%;
}
.createnew-upload5{
    width: 100%;
}
.createnew-upload6{
    width: 100%;
}

.createnew-thumb-overlay-main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.createnew-thumb-overlay-vector{
    display: inline-block;
    vertical-align: middle;
}

.createnew-thumb-overlay-txt{
    display: inline-block;
    vertical-align: middle;
}

.orr{
    font-family: 'gilroy-700';
    letter-spacing: 0.1em;
    font-size: .8em;
    text-align: left;
}

.bcn-imgurl{
    width: 65%;
    height: 3.5em;
    float: left;
    outline: none;
    margin-top: -.75em;
    color: white;
    border: none;
    background-color: #161616;
    border-radius: .5em;
    font-family: 'gilroy-600';
    padding-left: 1em;
    padding-right: 1em;
}

.createnew-tags-head{
    text-align: left;
    font-family: 'gilroy-700';
    font-weight: 700;
    margin-left: .5em;
    margin-top: 1.5em;
}

.tags-value{
    width: 8em;
    border: 2px solid white;
    border-radius: 2em;
    margin-right: .75em;
    margin-left: .75em;
    float: left;
    margin-bottom: 1em;
}

.tags-value-txt{
    margin-block-start: 0.6em;
    text-align: left;
    font-family: 'gilroy-700';
    margin-left: 1em;
    margin-block-end: 0.6em;
}

.tags-value-bool{
    max-width: 1em;
    margin-top: -1.65em;
    margin-right: 1em;
    float: right;
}

.createnew-postform{
    width: 64%;
    height: 2.5em;
    border-radius: 10px;
    font-size: 1.3em;
    margin-left: 2em;
    color: white;
    font-family: 'gilroy-700';
    background: #49394280;
    margin-right: 2em;
}

.login-btn{
    display: inline;
    vertical-align: middle;
    margin-left: 3em;
    width: 12em;
    font-family: 'gilroy-700';
    color: white;
    border: none;
    outline: none;
    filter: drop-shadow(0 3px 0.3rem #ffffff4f);
    font-size: 1em;
    border-radius: .6em;
    height: 3em;
    background-color: #49394280;
    animation: worev 1s 1 forwards;
}

.login-btn:hover{
    animation: wo 1s 1 forwards;
}

@keyframes wo {
    100%{
        filter: drop-shadow(0 0 0.0rem black);
    }
}

@keyframes worev {
    0%{
        filter: drop-shadow(0 0 0.0rem black);
    }
    100%{
        filter: drop-shadow(0 3px 0.3rem #ffffff4f);
    }
}

.blogs-bigblog-cat-art{
    display: none;
}
.blogs-bigblog-cat-music{
    display: none;
}
.blogs-bigblog-cat-abstract{
    display: none;
}
.blogs-bigblog-cat-fantasy{
    display: none;
}
.blogs-bigblog-cat-nft{
    display: none;
}
.blogs-bigblog-cat-tech{
    display: none;
}
.blogs-bigblog-cat-anime{
    display: none;
}


.courses-up{
    margin-top: 8em;
    margin-left: 5em;
    margin-right: 5em;
}

.cu-img{
    border-radius: 50%;
    width: 4em;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
    height: 4em;
}

.cu-name{
    font-family: 'gilroy-700';
    margin-block-start: 0.4em;
    margin-block-end: 0;
}
.cu-uname{
    font-family: 'gilroy-600';
    margin-block-start: 0.4em;
    color: rgb(207, 207, 207);
    font-size: .8em;
    margin-block-end: 0;
}

   progress::-moz-progress-bar {
    border-radius: 10px;
    background-color: 00FF85;
}

progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: 00FF85;
    height: 5px;
}

progress {
    background-color: #00FF85;
    border-radius: 10px;
    height: 5px;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 10px;
    height: 5px;
}

progress::-webkit-progress-value {
    border-radius: 10px;
    height: 5px;
    background-color: #00FF85 !important;
}

.cu-stats{
    display: inline-block;
    vertical-align: middle;
}

.remaining{
    font-family: 'gilroy-400';
    color: rgb(189, 189, 189);
}

.lup-head{
    font-family: 'gilroy-700';
    margin-top: 2em;
    margin-block-end: 0;

    font-size: 1.5em;
}
.cu-stats{
    padding-right: 2em;
    float: right;
}
.cu-stat{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5em;
    width: 10em;
}

.cu-stat-val{
    font-family: 'gilroy-700';
    color: white;
    font-size: 2.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.cu-stat-desc{
    font-family: 'gilroy-700';
    color: #c4c4c4;
    font-size: .9em;
    margin-block-start: 0;
}

.cu-goals{
    display: inline-block;
    width: 20em;
    vertical-align: top;
}

.course{
    width: 20em;
    height: 14em;
    background-color: #1e1e1e;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1em;
    margin-right: 3em;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    
}

.mycourses{
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
}


.coursenamee{
    font-size: 1.1em;
    font-family: 'gilroy-600';
}

.coursethumb{
    width: 17em;
    height: 10em;
    border-radius: 1em;
}

.browse-courses{
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
}

.browse-course{
    width: 18em;
    height: 20em;
    background-color: #1e1e1e;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1em;
    margin-right: 3em;
    padding: .85em .85em .85em .85em;
    margin-bottom: 1em;
    
}

.weebtn{
    font-size: 1.1em;
    font-family: 'gilroy-700';
    width: 6em;
    margin-block-start: -.5em;
    border-radius: .5em;
    height: 2em;
    background-color: white;
    color: black;
}

*{
    cursor: none !important;
}

.create-main{
    margin-top: 8em;
    margin-left: 5em;
    margin-right: 5em;
}

.create-1{
    height: 33em;
    width: 58em;
    background-color: #0f0f0f;
    border-radius: 1em;
    display: inline-block;
    margin-right: 3em;
    vertical-align: middle;
}

.create-2{
    height: 33em;
    width: 23em;
    background-color: #0f0f0f;
    border-radius: 1em;
    display: inline-block;
    vertical-align: middle;
}

.create-input{
    display: block;
    width: 70%;
    padding: .75em 1em .75em 1em;
    background: none;
    border: white 2px solid;
    border-radius: 10px;
    font-family: 'gilroy-700';
    outline: none;
    color: white;
    resize: none;
    font-size: 1em;
    margin-bottom: 1em;
}

.ci-desc{
    height: 16em;
}

.ci-title{
    height: 3e;
}

.ewe{
    display: inline-block;
    vertical-align: middle;
}

.roiirio{
    float: right;
    background-color: white;
    font-family: 'gilroy-700';
    color: black;
    width: 6em;
    font-size: 1.2em;
    margin-right: 1em;
    border-radius: .4em;
    height: 2em;
}

.udmain{
    margin-top: 8em;
    margin-left: 4em;
}

.udd-pfp{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
}

.fright{
    float: right;
    margin-right: 1em;
}

.wooo{
    width: 70%;
}

.we9ii{
    margin-top: 2em;
    z-index: -1;
    transition: opacity 1s;
}

.we9ii:hover{
    opacity: 80%;
}

.weoirj{
    bottom: 5%;
    width: 4em;
    box-shadow: 0px 231px 93px rgba(255, 255, 255, 0.01), 0px 130px 78px rgba(255, 255, 255, 0.05), 0px 58px 58px rgba(255, 255, 255, 0.09), 0px 14px 32px rgba(255, 255, 255, 0.1), 0px 0px 0px #ffffff1a;
    height: 4em;
    background-color: rgb(45, 45, 45);
    border-radius: 50%;
    right: 5%;
    border: none;
    color: white;
    position: fixed;
}